div.navigation-wrapper{ float: right; }
#main-superfish-wrapper ul.sf-menu{ display: block; }

ul.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
ul.sf-menu { line-height: 1; }
ul.sf-menu li { float: left; position: relative; padding: 7px 0; }
ul.sf-menu li:last-child { padding-right: 0px; }
ul.sf-menu li:hover { visibility: inherit; } /* fixes IE7 'sticky bug' */
ul.sf-menu li a { 
    border-left-style: solid;
    border-left-width: 1px;
    display: block;
    font-family: 'NotoSerif',arial;
    font-size: 16px;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
}
    
ul.sf-menu li:first-child a{
    border: none !important;
}

ul.sf-menu .sf-sub-indicator{ /*width: 9px;*/ text-indent: -9999px; display: inline-block; /*margin-left: 5px;*/ }	
	
/*--- sub menu ---*/
ul.sf-menu li:hover ul,
ul.sf-menu li.sfHover ul { left: 0; z-index: 101; top: 30px; } /* match top ul list item height */

ul.sf-menu ul { /*border-width: 1px; border-style: solid;*/ text-align: left; }
ul.sf-menu ul { position: absolute; top: -999em;width: auto; }/* left offset of submenus need to match (see below) */
ul.sf-menu ul li { /*width: auto !important;*/ padding: 9px 0px; }
ul.sf-menu li li a{ border-left-width: 0px; }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul,
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul{ top: -999em; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul,
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left: 10em; top: -1px; } /* match ul width */

ul.sf-menu li li{ /*border-bottom-width: 1px; border-bottom-style: solid;*/ }
ul.sf-menu li li:last-child{ border: 0px; }
ul.sf-menu li li a{ line-height: auto; height: auto; padding: 0px 15px; background: none !important; font-size: 12px; color: #6A005A; }
div.navigation-wrapper ul.sf-menu ul li a{ padding: 0px 7px; }
